.Aboutme {
  min-height: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  scroll-margin: 7em;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.TextAboutme {
  font-size: 1.5em;
  font-weight: 500;
  text-align: left;
}

.aufteilung {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blob-wobble {
  position: relative;
  top: auto;
  width: 400px;
  height: 400px;
  background-color: rgb(197, 174, 146);
  background-image: url(Images/NoahPortfolio1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 41% 59% 31% 69% / 51% 72% 28% 49%;
  animation: wobble 10s ease-in-out alternate infinite;
  box-shadow: 2px 14px 28px -10px rgba(0, 0, 0, 0.7);
  z-index: 2;
  flex-wrap: wrap;
}

.blob-wobble:hover {
  box-shadow: 2px 14px 28px -10px #66fcf1;
}

/* CSS to animate the blob */

@keyframes wobble {
  25% {
    border-radius: 41% 59% 74% 26% / 51% 31% 69% 49%;
    transform: scale(0.9) rotate(-5deg);
  }

  50% {
    border-radius: 23% 77% 73% 27% / 14% 21% 79% 86%;
    transform: scale(0.8) rotate(6deg);
  }

  100% {
    border-radius: 75% 25% 75% 25% / 45% 26% 74% 55%;
    transform: scale(0.95) rotate(-9deg);
  }
}

.rightdiv figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.rightdiv figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.leftdiv {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  justify-content: center;
  text-align: center;
  left: 0px;
  width: 800px;
  height: 365px;
  margin-top: 50px;
  backdrop-filter: blur(10px);
  box-shadow: 10px 14px 30px -10px rgba(121, 241, 241, 0.5);
}
.rightdiv {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  right: 0px;
  width: 400px;
  margin-top: 50px;
}

/*Images*/
.bottomdiv {
  position: relative;
  margin-top: 100px;
  margin-bottom: -50px;
  min-height: auto;
  justify-content: center;
  align-items: center;
}
.PhotoStack .Impressions {
  width: 45vw;
  height: auto;
  box-shadow: 5px 5px 10px rgba(121, 241, 241, 0.5);
  background-color: rgb(59, 78, 86);
  border-radius: 2px;
  padding: unset;
}

.PhotoStack {
  margin-top: -100px;
  position: sticky;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.PhotoStack:nth-child(1) img {
  transform: rotate(10deg);
}
.PhotoStack:nth-child(2) img {
  transform: rotate(0deg);
}
.PhotoStack:nth-child(3) img {
  transform: rotate(-10deg);
}
.PhotoStack:nth-child(4) img {
  transform: rotate(3deg);
}
.PhotoStack:nth-child(5) img {
  transform: rotate(-3deg);
}

@media screen and (max-width: 800px) {
  .PhotoStack .Impressions {
    width: 70vw;
    height: auto;
    box-shadow: 5px 5px 10px rgba(121, 241, 241, 0.5);
    background-color: rgb(59, 78, 86);
    border-radius: 2px;
    padding: unset;
  }
}

@media screen and (min-width: 2150px) {
  .PhotoStack .Impressions {
    width: 30vw;
    height: auto;
    box-shadow: 5px 5px 10px rgba(121, 241, 241, 0.5);
    background-color: rgb(59, 78, 86);
    border-radius: 2px;
    padding: unset;
  }

  .bottomdiv {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: -50px;
    min-height: auto;
    justify-content: center;
    align-items: center;
  }

  .blob-wobble {
    position: relative;
    top: auto;
    width: 500px;
    height: 800px;
    background-color: rgb(197, 174, 146);
    background-image: url(Images/NoahPortfolio1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 41% 59% 31% 69% / 51% 72% 28% 49%;
    animation: wobble 10s ease-in-out alternate infinite;
    box-shadow: 2px 14px 28px -10px rgba(0, 0, 0, 0.7);
    z-index: 2;
    flex-wrap: wrap;
  }

  .leftdiv {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
    justify-content: center;
    text-align: center;
    left: 0px;
    width: 1000px;
    height: 750px;
    margin-top: 50px;
    backdrop-filter: blur(10px);
    box-shadow: 10px 14px 30px -10px rgba(121, 241, 241, 0.5);
  }

  .TextAboutme {
    font-size: 2.5em;
    font-weight: 500;
    text-align: left;
  }
}
