.Aboutme {
  min-height: 80vh;
  position: relative;
  justify-content: center;
  align-items: center;
  scroll-margin: 7em;
  flex-wrap: wrap;
}

.aufteilung {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blob-wobble {
  position: relative;
  width: 400px;
  height: 400px;
  background-image: url(Images/IMG_9544.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 41% 59% 31% 69% / 51% 72% 28% 49%;
  animation: wobble 10s ease-in-out alternate infinite;
  box-shadow: 2px 14px 28px -10px rgba(0, 0, 0, 0.7);
  z-index: 2;
  flex-wrap: wrap;
}

/* CSS to animate the blob */

@keyframes wobble {
  25% {
    border-radius: 41% 59% 74% 26% / 51% 31% 69% 49%;
    transform: scale(0.9) rotate(-5deg);
  }

  50% {
    border-radius: 23% 77% 73% 27% / 14% 21% 79% 86%;
    transform: scale(0.8) rotate(6deg);
  }

  100% {
    border-radius: 75% 25% 75% 25% / 45% 26% 74% 55%;
    transform: scale(0.95) rotate(-9deg);
  }
}

.rightdiv figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.rightdiv figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.leftdiv {
  justify-content: center;
  text-align: center;
  left: 0px;
  width: 800px;
}
.rightdiv {
  justify-content: center;
  position: relative;
  right: 0px;
  width: 400px;
}
