@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}

/*Dark Mode*/

body {
  --text-color: #1f2833;
  --bkg-color: #c7c5c6;
}

body.dark-theme {
  --text-color: #c5c6c7;
  --bkg-color: radial-gradient(
    circle,
    rgba(31, 40, 51, 1) 52%,
    rgba(11, 12, 16, 1) 93%
  );
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #c5c6c7;
    --bkg-color: radial-gradient(
      circle,
      rgba(31, 40, 51, 1) 52%,
      rgba(11, 12, 16, 1) 93%
    );
  }
  body.light-theme {
    --text-color: #1f2833;
    --bkg-color: #c5c6c7;
  }
}
body {
  background: var(--bkg-color);
}
h1,
h2,
p,
span,
i,
div {
  color: var(--text-color);
}

/*Dark Mode Toggle*/
.btn-toggle {
  position: fixed;
  border: none;
  left: 22px;
  top: 28px;
}

.uil-sun {
  position: absolute;
  font-size: 2rem;
  bottom: -32px;
}

.uil-sun:hover {
  color: yellow;
  transform: scale(1.2);
}

.uil-moon {
  position: absolute;
  font-size: 2rem;
  bottom: -32px;
}

.uil-moon:hover {
  color: #66fcf1;
  transform: scale(1.2);
}

/* Floating Symbols*/

.symbols {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.symbols div {
  position: absolute;
  font-size: 3rem;
}
.symbols div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
  color: #fddcef;
}

.symbols div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
  color: #d5c5e9;
}
.symbols div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
  color: #3a5a69;
}
.symbols div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
  color: #3a5a69;
}
.symbols div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
  color: #b2a59f;
}
.symbols div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
  color: #023459;
}
.symbols div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
  color: #1e6463;
}
.symbols div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
  color: #002c2f;
}
.symbols div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
  color: #d3b7d8;
}

.symbols div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
  color: #a13e97;
}

.symbols div:nth-child(11) {
  top: 90%;
  left: 90%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid;
  animation: animate 7s linear infinite;
  color: #632a7e;
}

.symbols div:nth-child(12) {
  top: 70%;
  left: 19%;
  animation: animate 11s linear infinite;
  color: #3e1f53;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(2.5) translateY(-150px) rotate(360deg);
    opacity: 0;
  }
}

/*Title for the Chapters*/

.Focus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.FocusHover {
  position: relative;
  display: flex;
  color: #c5c6c7;
  font-size: 3.5em;
  cursor: pointer;
}

.FocusHover span {
  position: relative;
  padding: 0 5px;
  transition: 0.5s;
  -webkit-box-reflect: below -28px linear-gradient(transparent, #0002);
}

.FocusHover span:hover {
  transition: 0s;
  color: #66fcf1;
  transform: scale(1.3);
}

.FocusHover span i {
  position: absolute;
  inset: 0;
}

@media screen and (max-width: 700px) {
  .FocusHover {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 2150px) {
  .FocusHover {
    font-size: 4em;
  }
}
